In [242]:
#Import all relevant Packages
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from category_encoders import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.utils.validation import check_is_fitted

In [243]:
# Load the datasets using pandas
df = pd.read_csv("energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Quiz 12:  R^2 value to 2dp for a Linear Model between T2 & T6

In [244]:
#Declare independent Variable x = T2
feature_df = df[["T2"]]
# comfirm we have selected the right column
feature_df.head()

     T2
0  19.2
1  19.2
2  19.2
3  19.2
4  19.2

In [245]:
# Select target or dependent variable T6
target_df = df['T6']

In [246]:
#Instantiate our linear model
linear_model = LinearRegression()

In [247]:
#Fit the model for the parameters selected
linear_model.fit(feature_df, target_df)

LinearRegression()

In [248]:
pred_2 = linear_model.predict(feature_df)

In [249]:
#Estimate the r2 score as required
r2_score = r2_score(target_df, pred_2)
round(r2_score, 2)

0.64

### Quiz 13: Normalise Data, run a Multiple linear regression and estimate the Mean absolute error

In [250]:
# Drop the columns date and lights
df_new = df.drop(columns = ['date', 'lights'])
#print the new dataframe after dropping the columns
df_new.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [251]:
#Instantiate the standardization operator
scaler = MinMaxScaler()

In [252]:
#apply scaler on the dataframe, fit & transform simultaneously
norm_df = pd.DataFrame(scaler.fit_transform(df_new), columns = df_new.columns)
norm_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [253]:
#Select the input and output variable for the models
feat_df = norm_df.drop(columns = 'Appliances')
targ_df = norm_df['Appliances']

In [254]:
# let's see our predictor dataframe
feat_df.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [255]:
#Split the dataset using random test split with 70;30 ratio
x_train,x_test,y_train,y_test = train_test_split(feat_df, targ_df, test_size = 0.3, random_state = 42)

In [256]:
x_train.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [257]:
#Instantiate the linearmodel
norm_model =LinearRegression()

In [258]:
norm_model.fit(x_train, y_train)

LinearRegression()

In [259]:
#make predictions on the x test values
predicted_values = norm_model.predict(x_test)

In [260]:
#Estimate the mean absolute error
mae = mean_absolute_error(y_test, predicted_values)

In [261]:
round(mae, 2)

0.05

### Quiz 14: Normalise Data, run a Multiple linear regression and estimate the Residuals sum of squaresÂ¶

In [262]:
#Estimate the RSS 
residual = np.sum(np.square(predicted_values - y_test))
round(residual, 2)

45.35

### Quiz 15: Normalise Data, run a Multiple linear regression and estimate the Root mean squared errorÂ¶

In [263]:
#Estimate root mean squared error to 3dp
root_mean = np.sqrt(mean_squared_error(y_test, predicted_values))
round(root_mean,3)

0.088

### Quiz 16: Normalise Data, run a Multiple linear regression and estimate the Coefficient of Determination

In [314]:
# Estimate coefficeient of determination to 2dp 
r2_score = r2_score(y_test, predicted_values)
round(COD, 2)

TypeError: 'numpy.float64' object is not callable

### Quiz 17: Normalise Data, run a Multiple linear regression and Get the Feature weights

In [268]:
intercept = norm_model.intercept_
#obtain the Feature weights
coefficients = norm_model.coef_

In [187]:
coefficients

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [294]:
Regression_Data = pd.Series(coefficients, index = feat_df.columns).sort_values()
#Check Values for both max & min weights on the Regression equation
Regression_Data

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

### Train with Ridge Regression

In [297]:
Ridge_model =Ridge(alpha = 0.4)
Ridge_model.fit(x_train, y_train)
predicted_values_ridge = Ridge_model.predict(x_test)
root_mean_ridge = np.sqrt(mean_squared_error(y_test, predicted_values_ridge))

In [298]:
#Check for equality with the linear model
root_mean_ridge == root_mean

False

### Train with Lasso Regression

In [303]:
Lasso_model =Lasso(alpha = 0.001)
Lasso_model.fit(x_train, y_train)
predicted_values_Lasso = Lasso_model.predict(x_test)

In [304]:
Coefficient_Las = Lasso_model.coef_

In [311]:
#Estimate the number of non_zeroes
Non_Zeroes =  len(Coefficient_Las) -((Coefficient_Las == 0).sum())
Non_Zeroes

4

### 20 Estimate the RMSE

In [312]:
#Estimate the RMSE for the lasso Regression
root_mean_lasso = np.sqrt(mean_squared_error(y_test, predicted_values_Lasso))
round(root_mean_lasso,3)

0.094